[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-flask = "*"
pytest-cov = "*"
fakeredis = "*"

[packages]
flask = "*"
apscheduler = "*"
redlock-py = "*"
flask-rq2 = "*"

[requires]
python_version = "3.6.8"
